:host {
  width: 70vw;
  max-width: 1000px;
  height: 70vh;
  max-height: 500px;
  display: flex;
}

header {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-right: 10%;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-right: 10%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-field {
  margin-bottom: 12px;
}

span {
  cursor: pointer;
  align-self: flex-end;
  position: relative;
  top: 10px;
  user-select: none;
}

input {
  /* width - padding and ` width */
  width: calc(100% - 20px);
  height: 40px;
  margin-top: 8px;
  padding: 4px 8px;
  border: 2px black solid;
  border-radius: 4px;
  font-size: 24px;
  text-overflow: ellipsis;
  font-weight: 400;

  box-shadow: none;
  transition: 0.1s ease-in;
}

.error {
  box-shadow: 0 0 2.5px 3px rgb(255, 0, 0, 0.75);
}

.bold {
  font-weight: 600;
}

/* small laptops / large tablets */
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  header {
    width: 50%;
  }

  main {
    width: 50%;
  }

}

/* small tablets / mobile */
@media only screen and (max-width: 768px) {
  :host {
    margin-top: 50px;
    height: auto;
    width: 80vw;
    flex-direction: column;
  }

  header {
    width: 100%;
    max-width: 325px;
    height: auto;
  }

  main {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin-top: 0;
  }
}